@mixin imagenes(){
	width: 34%;
	display: inline-block;
	margin: 16px 0 0;
    position: relative;
    top: 7px;
}
@mixin textosNav(){
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	padding: 0px 4px;
}
@mixin notificaciones(){
	color: #fff;
	border: 1px solid #BB0919;
	background-color: #BB0919;
	padding: 2px;
	border-radius: 10px;
	position: relative;
	bottom: 0px;
    right: 21px;
	font-size: 12px;
}
@mixin titulosImg(){
	font-size: 17px;
	font-weight: 700;
	color: #505050;
	margin: 5px 0;
}
@mixin parrafosImg{
	font-size: 12px;
	font-weight: 300;
	color: #505050;
	margin: 3px 0;
}
@mixin usuarioImg(){
	display: inline-block;
	font-size: 12px;
	color: #505050;
}
@mixin modal{
	margin: 0 0 0 25px;
}
@mixin hov(){
	background-color: rgba(239, 239, 239, 0.9);
    border-radius: 15px;
}
@mixin tags(){
	border-radius: 5px;
	color: white;
	padding: 15px;
	margin: 20px 3px 10px 2px;
}